@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
body{
    background-color: rgb(32, 32, 53);
    font-family: "Roboto", sans-serif;
}
*{
    margin: 15px;
}
.contenedor{
    display: grid;
    grid-template-columns: 3fr 1fr;

}
.contenedor-conciertos{
    display: grid;
    background-size: contain;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;

}
.card1{
    background-image: url(img/1.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    border-radius: 8px;
    color: white;
    box-shadow: 4px 4px 4px black;
    width: 300px;
    height: 170px;
}
.card2{
    background-image: url(img/2.jpg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover; 
    border-radius: 8px;
    color: white;
    box-shadow: 4px 4px 4px black;
    width: 300px;
    height: 170px;

}
.card3{
    background-image: url(img/3.jpg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover; 
    border-radius: 8px;
    color: white;
    box-shadow: 4px 4px 4px black;
    width: 300px;
    height: 170px;

}
.card4{
    background-image: url(img/4.jpg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover; 
    border-radius: 8px;
    color: white;
    box-shadow: 4px 4px 4px black;
    width: 300px;
    height: 170px;

}
.card5{
    background-image: url(img/5.jpg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover; 
    border-radius: 8px;
    color: white;
    box-shadow: 4px 4px 4px black;
    width: 300px;
    height: 170px;

}
.card6{
    background-image: url(img/6.jpg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover; 
    border-radius: 8px;
    color: white;
    box-shadow: 4px 4px 4px black;
    width: 300px;
    height: 170px;

}
.textos{
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
}

.banner{
    background-image: url(img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position-y: center;
    border-radius: 8px;
    color: white;
    width: 300px;
    height: 350;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr; 
}
.banner li{
    list-style: none; 
    
    /*padding-top: 15px;*/
}
.banner ul{
    padding-left: 0;
}
.boton{
    background-color: yellow;
    border: 0;
    border-radius: 70px;
    padding: 7px 60px 7px 60px;
    text-align: center;
    color: black;
}
.boton:hover{
    background-color: black;
    color: red;
}
@media only screen and (max-width: 900px) {
    .contenedor-conciertos {
        display: grid;
        grid-template-columns: 2fr;
    }
}
@media only screen and (max-width: 600px) {
    .contenedor-conciertos {
        display: grid;
        grid-template-columns: 1fr;
    }
}
  