@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
body{
    background-color: #f2f2f2;
    font-family: "Poppins", sans-serif;
}

.cabecera{
    max-width: 1200px;
    width: 90%;
}

.contenedor{
    background-color: #239b56;
    color: white;
    max-width: 1200px;
    height: var(--height-nav);
    .seccion1{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .menu a{
        color: white;
        font-size: 7px;
        text-decoration: none;
        margin: 5px;
    }
}

.seccion2{
    display: flex;
    align-items: center;
    height: calc(100vh - var(--height-nav));
    .texto{
        flex-basis: 70%;
    }
    .titulo{
        font-size: 4vw;
    }
    .parrafo{
        font-size: 2vw;
    }
    .boton{
        font-size: 2vw;
        background-color: #1e8449;
        color: white;
        border-radius: 6px;
        margin-top: 1.5em;
        padding: 5px 10px;
        text-decoration: none;
    }
    .imagen{
        flex-basis: 30%;
        .perro{
            width: 100%;
            border-radius: 33%;
            display: block;
        }
    }
}

