@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0 auto;
}
body{
    font-family: "Montserrat", sans-serif;
    background-color: #ffffff;
}
h1{
    color: white;
    font-size: 5rem;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
p{
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 1.7rem;
}

#grid{
    height: 100vh;
    padding: 40px;
}
.container{
    max-width: 1300px;
    padding: 20px;

}
.grid-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 200px;
}
.box-1{
    display: block;
    border-radius: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.box-2{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.box-3{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}
.box-4{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
.box-5{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}
.box-1, .box-4, .box-7, .box-9{
    background-color: #1a2937;
    color: white;
}
.box-2, .box-6{
    background-color: #eda640;
}
.box-3, .box-5, .box-8{
    background-color: #bfcdd9;
}
.box-2, .box-3, .box-4, .box-5, .box-6, .box-7, .box-8, .box-9{
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

@media only screen and (max-width: 900px) {
    .grid-wrapper{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        .box-1{
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 1;
            grid-row-end: 3;
        }
        .box-2{
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 3;
            grid-row-end: 4;
        }
        .box-3{
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 4;
            grid-row-end: 5;
        }
        .box-4{
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 5;
            grid-row-end: 6;
        }
        .box-5{
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 6;
            grid-row-end: 7;
        }
        .box-6{
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 7;
            grid-row-end: 8;
        }
        .box-7{
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 8;
            grid-row-end: 9;
        }
        .box-8{
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 9;
            grid-row-end: 10;
        }
        .box-9{
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 10;
            grid-row-end: 11;
        }
    }
}