.contenedor{
    display: grid;
    border: 1px solid #f76707;
    border-radius: 5px;
    width: 450px;
    height: 200px;
    /*Ejercicio 1*/
        grid-template-columns: repeat(3, 2fr);

    /*Ejercicio 2*/
        /*grid-template-columns: repeat(3, 2fr);*/

    /*Ejercicio 3*/
        /*grid-template-columns: repeat(3, 2fr);*/
    
    /*Ejercicio 5*/
        /*grid-template-columns: repeat(4, 2fr);*/

    /*Ejercicio 6*/
        /*grid-template-columns: repeat(3, 2fr);*/

    /*Ejercicio 7*/
        /*grid-template-columns: repeat(3, 2fr);*/

    /*Ejercicio 8*/
        /*grid-template-rows: repeat(3, 2fr);
        grid-auto-flow: column dense;*/

}
.celda1{
    text-align: center;
    font-size: 20px;
    border: 1px solid #ffa94d;
    border-radius: 5px;
    background-color: #ffd8a8;
    color: #d9480f;
    /*Ejercicio 2 y 3*/
        /*grid-column-start: 1;
        grid-column-end: 4;*/

    /*Ejercicio 5*/
        /*grid-column-start: 1;
        grid-column-end: 3;*/
        
    /*Ejercicio 6*/
        /*order: 1;*/

    /*Ejercicio 7*/
        /*grid-column-start: 2;
        grid-column-end: 4;*/
}
.celda2{
    text-align: center;
    font-size: 20px;
    border: 1px solid #ffa94d;
    border-radius: 5px;
    background-color: #ffd8a8;
    color: #d9480f;
    /*Ejericio 3*/
        /*grid-row-start: 2;
        grid-row-end: 6;*/

    /*Ejercicio 5*/
        /*grid-column-start: 3;
        grid-column-end: 5;*/
    
    /*Ejericio 7*/
        /*grid-row-start: 2;
        grid-row-end: 4;*/
}
.celda3{
    text-align: center;
    font-size: 20px;
    border: 1px solid #ffa94d;
    border-radius: 5px;
    background-color: #ffd8a8;
    color: #d9480f;
    /*Ejericio 7*/
        /*grid-row-start: 2;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 4;*/
}
.celda4{
    text-align: center;
    font-size: 20px;
    border: 1px solid #ffa94d;
    border-radius: 5px;
    background-color: #ffd8a8;
    color: #d9480f;
    /*Ejercicio 5*/
        /*grid-column-start: 2;
        grid-column-end: 5;*/

    /*Ejercicio 7*/
        /*grid-column-start: 1;
        grid-column-end: 4;*/
}
.celda5{
    text-align: center;
    font-size: 20px;
    border: 1px solid #ffa94d;
    border-radius: 5px;
    background-color: #ffd8a8;
    color: #d9480f;
    /*Ejercicio 5*/
        /*grid-column-start: 1;
        grid-column-end: 4;*/
}
.celda6{
    text-align: center;
    font-size: 20px;
    border: 1px solid #ffa94d;
    border-radius: 5px;
    background-color: #ffd8a8;
    color: #d9480f;
}
.celda7{
    text-align: center;
    font-size: 20px;
    border: 1px solid #ffa94d;
    border-radius: 5px;
    background-color: #ffd8a8;
    color: #d9480f;
    
}
.celda8{
    text-align: center;
    font-size: 20px;
    border: 1px solid #ffa94d;
    border-radius: 5px;
    background-color: #ffd8a8;
    color: #d9480f;
    
}
.celda9{
    text-align: center;
    font-size: 20px;
    border: 1px solid #ffa94d;
    border-radius: 5px;
    background-color: #ffd8a8;
    color: #d9480f;
    
}