.contenedor_flex{
    background-color: lightgray;
    height: 10cm;
    width: 20cm;
    display: inline-flex;

    justify-content: center;
    column-gap: 1cm;
    align-items: flex-end;
}
.flex-item{
    background-color: cornflowerblue;
    height: 2cm;
}

/*.contenedor_flex{
    background-color: lightgray;
    height: 10cm;
    width: 20cm;
    display: inline-flex;

    justify-content: space-between;
    column-gap: 1cm;
    align-items: flex-start;
    
    flex-direction: row-reverse;
}
.flex-item{
    background-color: cornflowerblue;
    height: 2cm;
}*/

/*.contenedor_flex{
    background-color: lightgray;
    height: 10cm;
    width: 20cm;
    display: flex;

    justify-content: center;
    row-gap: 1cm;
    align-items: stretch;
    flex-direction: column-reverse;

}
.flex-item{
    background-color: cornflowerblue;
    height: 1.5cm;
}*/

/*.contenedor_flex{
    background-color: lightgray;
    height: 10cm;
    width: 20cm;
    display: flex;

    justify-content: center;
    column-gap: 1cm;
    align-items: stretch;

}
.flex-item{
    background-color: cornflowerblue;
}*/

/*.contenedor_flex{
    background-color: lightgray;
    height: 10cm;
    width: 20cm;
    display: inline-flex;

    justify-content: center;
    column-gap: 1cm;
    align-items: center;
}
.flex-item{
    background-color: cornflowerblue;
    height: 2cm;
}
.flex-item:hover{
    background-color: rgb(136, 92, 255);
    height: 2cm;
    width: 8cm;
}*/


/*Los cuatro nuevos items estan comentados*/
/*.contenedor_flex{
    background-color: lightgray;
    height: 10cm;
    width: 20cm;
    display: flex;

    justify-content: start;
    column-gap: 1cm;
    align-items: center;
    flex-wrap: wrap;
}
.flex-item{
    background-color: cornflowerblue;
    height: 2cm;
    width: 3cm;
}*/